---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Facilities from "../components/Facilities.astro";
import Membership from "../components/Membership.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import Chatbot from "../components/Chatbot.astro";
import "../styles/global.css";
---

<Layout title="Parken Treningssenter | Døgnåpen gym i Eikanger | Ingen binding">
  <Navbar />
  <main id="hovedinnhold">
    <Hero />
    <About />
    <Facilities />
    <Membership />
    <FAQ />
  </main>
  <Footer />
  <Chatbot />
</Layout>
